/* div.container {
  height: 10em;
  position: relative 
}
div.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
} */

th {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(225, 225, 225);
}

table, table tr, table tr td {
  margin: 0; 
  padding: 0; 
  border: 0; 
  cursor: pointer;
}

table tr.active td {
  background: #ccc;
}